@import "https://fonts.googleapis.com/css?family=Open+Sans:400,900";
*{
  font-family: 'Open-Sans',sans-serif;
header{

  .nav-bar{
display: flex;
    justify-content: space-around;
    ul{
      display: flex;
      justify-content: center;
      li{
        list-style-type: none;
        margin-left: 50px;
        margin-right: 91px;

        a{
          text-decoration: none;
          color: gray;
          text-transform: uppercase;

        }
      }
    }
  }
}
main{
  margin: 32px 61px;
  .solo{
    display: flex;
  justify-content: space-around;
    article{
      width: 45%;

      img{
        width: 100%;
      }
    }
    h1{
      text-transform: uppercase;
      font-size: 52px;
    }
    p{
      width: 83%;
    }
  }
}
}