@import "https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900 ";
@mixin customersOpinion {
  img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}
header{
  background:linear-gradient(rgba(20,20,20,0.3),rgba(20,20,20,0.3)), url("images/background.jpg");
  background-size: cover;
  color: white;
  padding: 15px;
  text-align: center;
  font-family: "Lato",sans-serif;
  .img-ctr{
    width: 30%;
  }
  nav{
    width: 67%;
  }
  ul{
    display: flex;
    justify-content: center;
    li{
      list-style-type: none;
      margin-left: 10px;
      margin-right: 10px;
      a{
        text-decoration: none;
        color:white;
        font-weight: bold;
      }
    }
  }
  .nav-ctr{
    display: flex;
    justify-content: space-between;
  }
  h1{
    margin-top: 60px;
  }
  p{
    margin-bottom: 338px;
  }
}
main section.destination-ctr{
  padding: 20px 0;
  .info-ctr{
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    p{
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  display: flex;
  justify-content: space-around;
  background: darkgray;
  article{
    width: 30%;
    img{
      width: 100%;
    }
  }
}
.customers-say {
  text-align: center;
  p{
    color:gray;
  }
  section {
    @include customersOpinion;
    display: flex;
    justify-content: space-between;
    text-align: center;
    color:gray;

  }
}